table {
    margin: 3%;
    width: 95%;
}

table,
tr,
td,
th {
    padding: 10px;
    border: 1px solid rgba(160, 160, 160, 0.5);
}

.tableMembers {
    height: 500px;
    width: 100%;
    border: 1px solid #000000;
}

th {
    width: 50%;
}

ion-icon {
    font-size: 30px;
}