<div class="row">
    <div style="width: 60%;">
        <div class="col-md-10" style="margin-left: auto; margin-right: auto;">
            <div class="card card-user">
                <div class="card-header" style="text-align: center;">
                    <h3 class="card-title">Add New Lesson/s</h3>
                </div>
                <div class="card-body">
                    <form #addEventsForm="ngForm" novalidate>
                        <h5>Lesson {{ lessonNumber + 1}}</h5>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input [(ngModel)]="newLesson.title[index]" class="form-control" #nameCtrl="ngModel"
                                        name="Title" type="text" #Title="ngModel" required />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea [(ngModel)]="newLesson.description[index]" class="form-control"
                                        #nameCtrl="ngModel" name="Description" type="text" #Description="ngModel"
                                        required></textarea>
                                </div>
                            </div>
                        </div>

                        <div><br><br>
                            <div class="row">
                                <div class="update ml-auto mr-auto">
                                    <button (click)="onaddEvents(addEventsForm)" type="submit"
                                        class="btn btn-primary btn-round" expand="block">Add Created Lesson</button><br><br><br>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-container cardHeight">
        <h2 style="text-align: center;">Lessons</h2>
        <p>List of lessons added</p>
        <ul class="w3-ul w3-card-4">
            <li class="w3-display-container" *ngFor="let lesson of listOfLessons; let i = index">{{ lesson.title }}
                <span onclick="this.parentElement.style.display='none'"
                class="w3-button w3-display-right" (click)="deleteSelectedLesson(lesson)">&times;</span>
            </li>
        </ul>
    </div>
    <div class="parent">
        <button class="submitButton designButton" (click)="submitCreatedLessons()">Submit Created Lessons</button>
    </div>
</div>