<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/mike.jpg" alt="...">
            <h5 class="title"> {{ userDetails.firstname }} {{ userDetails.lastname }}</h5>
          </a>
        </div>
        <p class="description">
          Birthday: {{ userDetails.birthday }}
        </p>
        <p class="description">
          Age: {{ userDetails.age }}
        </p>
        <p class="description">
          Address: {{ userDetails.address }}
        </p>
        <p class="description">
          Marital Status: {{ userDetails.marital_status }}
        </p>
        <p class="description">
          Email: {{ userDetails.email }}
        </p>
        <p class="description">
          Contact Number: {{ userDetails.contact_number }}
        </p>
        <p class="description">
          Facebook: {{ userDetails.facebook }}
        </p>
        <p class="description">
          Instagram: {{ userDetails.instagram }}
        </p>
        <p class="description">
          Twitter: {{ userDetails.twitter }}
        </p>
        <p class="description">
          Account: {{ userAccount.username }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Company</label>
                <input type="text" class="form-control" placeholder="Company" value="Creative Code Inc." disabled>
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" placeholder="Username" [value]="userAccount.username" disabled>
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" [value]="userDetails.email" placeholder="Email" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="Company" [value]="userDetails.firstname" disabled>
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" [value]="userDetails.lastname" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" placeholder="Home Address" [value]="userDetails.address" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Facebook</label>
                <input type="text" class="form-control" placeholder="Facebook" [value]="userDetails.facebook" disabled>
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Twitter</label>
                <input type="text" class="form-control" placeholder="Country" [value]="userDetails.twitter" disabled>
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Instagram</label>
                <input type="text" class="form-control" placeholder="ZIP Code" [value]="userDetails.instagram" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>About Me</label>
                <textarea
                  class="form-control textarea">Oh so, your weak rhyme You doubt I'll bother, reading into it</textarea>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
            </div>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div>