<div *ngIf="built.listOfLeadersAndItsMembers.length == 0">
  <div class="spinning">
    <div class="lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<div class="row" *ngIf="built.listOfLeadersAndItsMembers.length == built.leaderCounter">
  <div class="col-md-12">
    <div class="networkCard">
      <!-- <div class="card-header">
        <h4 class="card-title">My Network</h4>
      </div> -->
      <div style="text-align: center;">
        <h1 *ngIf="built.listOfLeadersAndItsMembers != 0">{{ built.pastorsData.firstname }} {{
          built.pastorsData.lastname }}</h1>
      </div>
      <div>
        <div *ngIf="built.listOfLeadersAndItsMembers != 0">
          <div class="memberRow">
            <div class="memberColumn">
              <div class="memberCard">
                <select (change)="getMembers($event.target.value)">
                  <option *ngFor="let leaders of built.listOfLeadersAndItsMembers" [value]="leaders.leader.id">{{ leaders.leader.firstname + " " + leaders.leader.lastname }}</option>
                </select>
                <div class="w3-container">
                  <ul class="w3-ul">
                    <li *ngFor="let member of membersOfSelectedLeader">{{ member.firstname }} {{ member.lastname }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <table>
          <tr>
            <td *ngFor="let leaders of built.listOfLeadersAndItsMembers">
              <div class="leaderCard">
                <h3>{{ leaders.leader.firstname }} {{ leaders.leader.lastname }} </h3>
                <div class="w3-container">
                  <ul class="w3-ul">
                    <li *ngFor="let member of leaders.members">{{ member.firstname }} {{ member.lastname }}</li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
        </table> -->
      </div>
      <!-- <div class="card-body">
        <div class="table-responsive" style="overflow-x: auto;">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                Address
              </th>
              <th>
                Marital Status
              </th>
              <th class="text-right">
                Email
              </th>
              <th>
                Contact Number
              </th>
              <th>
                Role
              </th>
              <th>
                Contact Number
              </th>
              <th>
                Role
              </th>
              <th>
                Contact Number
              </th>
              <th>
                Role
              </th>
              <th>
                Contact Number
              </th>
              <th>
                Role
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let value of allUsers">
                <td>
                  {{ value.userDetails.lastname }}, {{ value.userDetails.firstname }}
                </td>
                <td>
                  {{ value.userDetails.address }}
                </td>
                <td>
                  {{ value.userDetails.marital_status }}
                </td>
                <td class="text-right">
                  {{ value.userDetails.email }}
                </td>
                <td>
                  {{ value.userDetails.contact_number }}
                </td>
                <td>
                  {{ value.role }}
                </td>
                <td>
                  {{ value.userDetails.contact_number }}
                </td>
                <td>
                  {{ value.role }}
                </td>
                <td>
                  {{ value.userDetails.contact_number }}
                </td>
                <td>
                  {{ value.role }}
                </td>
                <td>
                  {{ value.userDetails.contact_number }}
                </td>
                <td>
                  {{ value.role }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> -->
    </div>
  </div>