<div class="row" *ngFor="let pastor of pastorsWithItsMembers">
  <div class="col-md-12">
    <div class="networkCard">
      <!-- <div class="card-header">
        <h4 class="card-title">My Network</h4>
      </div> -->
      <div style="text-align: center;">
        <h1>{{ pastor.pastor.firstname }} {{ pastor.pastor.lastname }}</h1>
      </div>
      <div style="overflow-x: auto;">

        <div class="imgNothing" *ngIf="pastor.leaders.length == 0">
          <div class="imgCard">
            <img src="../../../assets/img/empty.png">
            <h2 style="font-weight: 100;">Nothing to show!</h2>
          </div>
        </div>

        <table>
          <tr>
            <td *ngFor="let leaders of pastor.leaders">
              <div class="leaderCard">
                <h3>{{ leaders.firstname }} {{ leaders.lastname }} </h3>
                <p *ngIf="selectedLeadersMembers.length == 0"><button (click)="getCertainLeadersMembers(leaders, 'show')"><b>Show Members >></b></button></p>
                <p *ngIf="selectedLeadersMembers.length != 0"><button (click)="getCertainLeadersMembers(leaders, 'hide')"><b>Hide Members >></b></button></p>
                <div class="w3-container">
                  <ul class="w3-ul">
                    <li *ngFor="let member of selectedLeadersMembers">{{ member.firstname }} {{ member.lastname }}</li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <!-- <div class="card-body">
        <div class="table-responsive" style="overflow-x: auto;">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                Address
              </th>
              <th>
                Marital Status
              </th>
              <th class="text-right">
                Email
              </th>
              <th>
                Contact Number
              </th>
              <th>
                Role
              </th>
              <th>
                Contact Number
              </th>
              <th>
                Role
              </th>
              <th>
                Contact Number
              </th>
              <th>
                Role
              </th>
              <th>
                Contact Number
              </th>
              <th>
                Role
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let value of allUsers">
                <td>
                  {{ value.userDetails.lastname }}, {{ value.userDetails.firstname }}
                </td>
                <td>
                  {{ value.userDetails.address }}
                </td>
                <td>
                  {{ value.userDetails.marital_status }}
                </td>
                <td class="text-right">
                  {{ value.userDetails.email }}
                </td>
                <td>
                  {{ value.userDetails.contact_number }}
                </td>
                <td>
                  {{ value.role }}
                </td>
                <td>
                  {{ value.userDetails.contact_number }}
                </td>
                <td>
                  {{ value.role }}
                </td>
                <td>
                  {{ value.userDetails.contact_number }}
                </td>
                <td>
                  {{ value.role }}
                </td>
                <td>
                  {{ value.userDetails.contact_number }}
                </td>
                <td>
                  {{ value.role }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> -->
    </div>
  </div>