<div class="spinning">
  <div *ngIf="usersCounter != allUsers.length" class="lds-spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div *ngIf="usersCounter == allUsers.length" class="row">
  <div class="col-md-12">
    <div class="card">
      <!-- <div class="card-header">
        <h4 class="card-title">My Cell Group</h4>
      </div> -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                Address
              </th>
              <th>
                Marital_Status
              </th>
              <th class="text-right">
                Email
              </th>
              <th>
                Contact_Number
              </th>
              <th>
                Role
              </th>
              <th>
                Action
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let value of allUsers; let i = index" [id]="i">
                <td>
                  {{ value.userDetails.lastname }}, {{ value.userDetails.firstname }}
                </td>
                <td>
                  {{ value.userDetails.address }}
                </td>
                <td>
                  {{ value.userDetails.marital_status }}
                </td>
                <td class="text-right">
                  {{ value.userDetails.email }}
                </td>
                <td>
                  {{ value.userDetails.contact_number }}
                </td>
                <td>
                  {{ value.role }}
                </td>
                <td style="text-align: center;">
                  <button onclick="document.getElementById('id01').style.display='block'"
                    (click)="toInactiveUser( value.userDetails.firstname + ' ' + value.userDetails.lastname, value.userDetails.id, i)"
                    class="w3-button w3-black">Show User Status</button>
                  <!-- <i class="fa fa-eye" aria-hidden="true" (click)="toInactiveUser( value.userDetails.firstname + ' ' + value.userDetails.lastname, value.userDetails.id)"></i> -->
                </td>
                <!-- <td>
                  <button (click)="deleteUser(value.userDetails.id)" style="border-radius: 5px;" class="w3-button w3-red">Delete This User</button>
                </td> -->
              </tr>
              <!-- <tr>
                <td>
                  Minerva Hooper
                </td>
                <td>
                  Curaçao
                </td>
                <td>
                  Sinaai-Waas
                </td>
                <td class="text-right">
                  $23,789
                </td>
              </tr>
              <tr>
                <td>
                  Sage Rodriguez
                </td>
                <td>
                  Netherlands
                </td>
                <td>
                  Baileux
                </td>
                <td class="text-right">
                  $56,142
                </td>
              </tr>
              <tr>
                <td>
                  Philip Chaney
                </td>
                <td>
                  Korea, South
                </td>
                <td>
                  Overland Park
                </td>
                <td class="text-right">
                  $38,735
                </td>
              </tr>
              <tr>
                <td>
                  Doris Greene
                </td>
                <td>
                  Malawi
                </td>
                <td>
                  Feldkirchen in Kärnten
                </td>
                <td class="text-right">
                  $63,542
                </td>
              </tr>
              <tr>
                <td>
                  Mason Porter
                </td>
                <td>
                  Chile
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-right">
                  $78,615
                </td>
              </tr>
              <tr>
                <td>
                  Jon Porter
                </td>
                <td>
                  Portugal
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-right">
                  $98,615
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="w3-container">
      <div id="id01" class="w3-modal">
        <div style="margin-left: 35%; width: 50%;" class="w3-modal-content w3-animate-top w3-card-4">
          <header class="w3-container w3-teal">
            <span onclick="document.getElementById('id01').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
            <h2>{{ toShowInModal.selectedUser }}</h2>
          </header>
          <div class="w3-container">
            <div class="row">
              <div class="column">
                <button class="w3-button w3-black" (click)="toInactiveActiveOrRegular('Active')">To Active</button><br>
                <p>Do you want the user to tagged as active?</p>
              </div>
              <div class="column">
                <button class="w3-button w3-black" (click)="toInactiveActiveOrRegular('Inactive')">To Inactive</button><br>
                <p>Do you want to the user to tagged as inactive?</p>
              </div>
              <div class="column">
                <button class="w3-button w3-black" (click)="toInactiveActiveOrRegular('Regular')">To Regular</button><br>
                <p>Do you want to tagged the user as a regular member?</p>
              </div>
              <div class="column">
                <button class="w3-button w3-black" (click)="deleteUser()">Delete User</button><br>
                <p>This is optional, if the selected user is deceased, here you can delete the user</p>
              </div>
            </div>
          </div>
          <footer class="w3-container w3-teal">
            <p>Modal Footer</p>
          </footer>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title"> Table on Plain Background</h4>
        <p class="card-category"> Here is a subtitle for this table</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                Country
              </th>
              <th>
                City
              </th>
              <th class="text-right">
                Salary
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  Dakota Rice
                </td>
                <td>
                  Niger
                </td>
                <td>
                  Oud-Turnhout
                </td>
                <td class="text-right">
                  $36,738
                </td>
              </tr>
              <tr>
                <td>
                  Minerva Hooper
                </td>
                <td>
                  Curaçao
                </td>
                <td>
                  Sinaai-Waas
                </td>
                <td class="text-right">
                  $23,789
                </td>
              </tr>
              <tr>
                <td>
                  Sage Rodriguez
                </td>
                <td>
                  Netherlands
                </td>
                <td>
                  Baileux
                </td>
                <td class="text-right">
                  $56,142
                </td>
              </tr>
              <tr>
                <td>
                  Philip Chaney
                </td>
                <td>
                  Korea, South
                </td>
                <td>
                  Overland Park
                </td>
                <td class="text-right">
                  $38,735
                </td>
              </tr>
              <tr>
                <td>
                  Doris Greene
                </td>
                <td>
                  Malawi
                </td>
                <td>
                  Feldkirchen in Kärnten
                </td>
                <td class="text-right">
                  $63,542
                </td>
              </tr>
              <tr>
                <td>
                  Mason Porter
                </td>
                <td>
                  Chile
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-right">
                  $78,615
                </td>
              </tr>
              <tr>
                <td>
                  Jon Porter
                </td>
                <td>
                  Portugal
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-right">
                  $98,615
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> -->
  </div>