<body class="body"><br><br><br><br><br><br><br><br><br>
    <!-- Tabs Titles -->
    <div class="row">
        <div class="column1"><br><br><br>
            <h2 class="active"> Sign In </h2><br><br>
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="assets/img/BHCFLogo.png" id="icon" alt="User Icon" /><br>
            </div><br><br>
        </div>
        <div class="column2">
            <div id="formContent"><br><br>
                <h2 class="inactive"> Admin </h2>
                <div class="input">
                    <input type="email" placeholder="Username" required />
                    <span><i class="fa fa-envelope-o"></i></span>
                </div>

                <div class="input">
                    <input type="password" placeholder="Password" required />
                    <span><i class="fa fa-lock"></i></span>
                    <!-- <span class="eyeBtn"><i class="fa fa-eye"  aria-hidden="true"></i></span>
                    <span class="eyeBtn"><i class="fa fa-eye-slash" aria-hidden="true"></i></span> -->
                </div>

                <button class="btnLogin"> Log In </button><br><br>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover" href="#">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
</body>