
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Sign In </h2>

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="assets/img/BHCFLogo.png" id="icon" alt="User Icon" /><br>
            <h2 style="color:black"> Admin </h2>
        </div>

        <!-- Login Form -->
        <!-- <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form> -->
        <div class="input">
            <input type="email" placeholder="Username" required />
            <span><i class="fa fa-envelope-o"></i></span>
        </div>

        <div class="input">
            <input type="password" placeholder="Password" required />
            <span><i class="fa fa-lock"></i></span>
        </div>

        <button class="btnLogin"> Log In </button><br><br>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>