select {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid rgba(173, 173, 173, 0.5);
    border-radius: 4px;
    background-color: rgb(241, 241, 241, 0.1);
    outline: none;
  }
 .card {
   padding: 10px;
 }

 #birth {
   height: 40px;
 }

 p {
  color: red;
 }