<div class="body">
    <div class="column" *ngFor="let value of typeOfViewMember">
        <div class="card">
            <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-single-02 text-warning"></i>
            </div>
            <div class="w3-container">
                <div class="numbers" onclick="document.getElementById('id01').style.display='block'"
                    (click)="showMembers(value)">
                    <p class="card-category">{{value.type}}</p>
                    <p class="card-title" *ngIf="value.length.length == 0">0</p>
                    <p class="card-title" *ngIf="value.length.length != 0">{{value.length.length}}
                    <p>
                </div>
                <div id="id01" class="w3-modal">
                    <div style="margin-left: 308px; border-radius: 10px;"
                        class="w3-modal-content w3-animate-top w3-card-4">
                        <header class="w3-container"
                            style="background-color: orange; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                            <span style="border-top-right-radius: 10px;"
                                onclick="document.getElementById('id01').style.display='none'"
                                class="w3-button w3-display-topright">&times;</span>
                            <h2 style="padding: 10px;">{{selectedMemberType.type}}</h2>
                        </header>
                        <div *ngIf="selectedMemberType.length != 0" class="w3-container">
                            <ul class="w3-ul">
                                <li *ngFor="let members of selectedMemberType.length"
                                    style="text-align: left; padding: 20px;">{{ members.firstname + ' ' +
                                    members.lastname }}</li>
                            </ul>
                        </div>
                        <div *ngIf="selectedMemberType.length == 0">
                            <div class="w3-container">
                                <img style="width: 50%; height: 50%;" src="../../../assets/img/empty.png">
                                <h2>No {{ selectedMemberType.type }}</h2>
                            </div>
                        </div>
                        <footer class="w3-container"
                            style="text-align: left; padding: 22px; background-color: orange; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="topnav">
    <select (change)="getChosenDate($event)">
        <option value="Weekly">Weekly</option>
        <option value="Monthly">Monthly</option>
        <option value="Quarterly">Quarterly</option>
        <option value="Yearly">Yearly</option>
    </select>
    <input type="date"  [(ngModel)]="today" style="float: right;">
    <!-- <select *ngIf="chosenTypeOfDisplay != 'Yearly'" style="margin-right: 5%; margin-left: 5%;">
        <option *ngFor="let month of monthChoices" [value]="month">{{ month }}</option>
    </select> -->
    <!-- <select style="float: right;">
        <option *ngFor="let choice of choices" [value]="choice.value">{{ choice.choice }}</option>
    </select> -->
  </div>
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header ">
                            <h5 class="card-title">Cell Group</h5>
                            <p class="card-category">24 Hours performance</p>
                        </div>
                        <div class="card-body ">
                            <canvas id=chartHours width="800" height="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header ">
                            <h5 class="card-title">Sunday Celebration</h5>
                            <p class="card-category">24 Hours performance</p>
                        </div>
                        <div class="card-body ">
                            <canvas id="sundayCelebration" width="800" height="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>