<div class="spinning">
    <div *ngIf="eventsAndAnnouncements.length == 0 && trainingsAndClasses.length == 0" class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div *ngIf="eventsAndAnnouncements.length != 0 && trainingsAndClasses.length != 0" class="row">
    <div class="card-body all-icons">
        <div id="icons-wrapper">
            <section>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="card-header ">
                                <div class="add">
                                    <img src="https://img.icons8.com/pastel-glyph/64/26e07f/plus--v1.png" />
                                </div>
                                <h5 class="card-title">Events And Announcements</h5>
                                <p class="card-category">Last Campaign Performance</p>
                            </div>
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Events And Announcements
                                    </th>
                                    <th>
                                        Author
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let value of eventsAndAnnouncements">
                                        <td>
                                            {{ value.events.title }}
                                        </td>
                                        <td>
                                            {{ value.user.lastname }}, {{ value.user.firstname }}
                                        </td>
                                        <td>
                                            <img class="action" (click)="showStudent(value, 'Events')" src="https://img.icons8.com/metro/26/26e07f/info.png" />
                                            <img class="action" (click)="deleteEvent(value, 'Events')" src="https://img.icons8.com/metro/26/fa314a/trash.png" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="card-header ">
                                <div class="add">
                                    <img src="https://img.icons8.com/pastel-glyph/64/26e07f/plus--v1.png" />
                                </div>
                                <h5 class="card-title">Trainings And Classes</h5>
                                <p class="card-category">Trainings for the members</p>
                            </div>
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Trainings
                                    </th>
                                    <th>
                                        Classes
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let value of trainingsAndClasses" (click)="showStudent(value, 'Trainings')">
                                        <td>
                                            <p>{{ value.training.title }}</p>
                                            <img class="show" src="https://img.icons8.com/metro/64/26e07f/visible.png" />
                                        </td>
                                        <td>
                                    <tr *ngFor="let class of value.classes">
                                        <td>
                                            <p>{{ class.name }}</p>
                                        </td>
                                    </tr>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Second Table  -->
<!-- <div class="row">
    <div class="col-md-12">
        <div class="card demo-icons">
            <div class="card-header">
                <h5 class="card-title">Events, Annoucements and Trainings</h5>
            </div>
            <div class="card-body all-icons">
                <div id="icons-wrapper">
                    <section>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card ">
                                    <div class="card-header ">
                                        <h5 class="card-title">Events And Announcements</h5>
                                        <p class="card-category">Events for the whole organization</p>
                                    </div>
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                Events And Announcements
                                            </th>
                                            <th>
                                                Author
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let value of eventsAndAnnouncements" (click)="showStudent(value, 'Events')">
                                                <td>
                                                    {{ value.events.title }}
                                                </td>
                                                <td>
                                                    {{ value.user.lastname }}, {{ value.user.firstname }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card ">
                                    <div class="card-header ">
                                        <h5 class="card-title">Trainings And Classes</h5>
                                        <p class="card-category">Trainings for the members</p>
                                    </div>
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                Trainings And Classes
                                            </th>
                                            <th>
                                                Author
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let value of trainingsAndClasses" (click)="showStudent(value, 'Trainings')">
                                                <td>
                                                    {{ value.trainings.title }}
                                                </td>
                                                <td>
                                                    {{ value.user.lastname }}, {{ value.user.firstname }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</div> -->