<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="spinning">
    <div *ngIf="eventsAndAnnouncements == undefined && trainingsAndClasses == undefined" class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div class="row">
    <div class="card-body all-icons">
        <div id="icons-wrapper">
            <section>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="card-header ">
                                <div class="add" (click)="addEvent()" onclick="document.getElementById('id01').style.display='block'">
                                    <img src="https://img.icons8.com/android/24/26e07f/plus.png" />
                                </div>
                                <h5 class="card-title">Events_And_Announcements</h5>
                                <p class="card-category">Last Campaign Performance</p>
                            </div>
                            <div>
                                <table class="table">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                Events_And_Announcements
                                            </th>
                                            <th>
                                                Author
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                        </thead>
                                        <tbody *ngIf="eventsAndAnnouncements.length != 0 || trainingsAndClasses.length != 0">
                                            <tr *ngFor="let value of eventsAndAnnouncements">
                                                <td>
                                                    {{ value.events.title }}
                                                </td>
                                                <td>
                                                    {{ value.user.firstname + '_' + value.user.lastname}}
                                                </td>
                                                <td>
                                                    <img class="action" (click)="showStudent(value, 'Events')" src="https://img.icons8.com/metro/26/26e07f/info.png" />
                                                    <img class="action" (click)="deleteEvent(value, 'Events')" src="https://img.icons8.com/metro/26/fa314a/trash.png" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="card-header ">
                                <div class="add">
                                    <img (click)="addNewTrainings()" src="https://img.icons8.com/android/24/26e07f/plus.png" />
                                </div>
                                <h5 class="card-title">Trainings And Classes</h5>
                                <p class="card-category">Trainings for the members</p>
                            </div>
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Trainings
                                    </th>
                                    <th>
                                        Classes
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let value of trainingsAndClasses; let i = index">
                                        <td class="container">
                                            <p>{{ value.title }}</p>
                                            <div class="middle">
                                                <!-- (click)="navigateToView(value.training.id)" -->
                                                <button (click)="displayLessons(value)" class="text buttonSubmit"
                                                    onclick="document.getElementById('id02').style.display='block'">Show
                                                    Details</button>
                                            </div>
                                        </td>
                                        <td>

                                    <tr *ngFor="let class of classOfCertainTraining[i]">
                                        <td>
                                            <!-- (click)="showStudent(class, 'Class')" -->
                                            <a href="/#/view-records/{{class.id}}">{{ class.name }}</a>
                                        </td>
                                    </tr>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
        </ng-template>
    </div>
    <div class="w3-container">
        <div id="id01" class="w3-modal">
            <div class="w3-modal-content">
                <!-- w3-teal -->
                <header class="w3-container" style="background-color:orange">
                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <h2>Add Event and Announcement</h2>
                </header>
                <!-- <div class="w3-container"> -->
                <!-- <div class="card" [hidden]="isShow"> -->
                <div role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                        </div>
                        <div class="modal-body mx-3">
                            <label for="defaultForm-email">Title</label>
                            <input type="text" [(ngModel)]="createdEventOrAnnouncement.newEvents.Title" class="form-control"
                                #Title="ngModel" mdbInput mdbValidate required><br>

                            <label for="defaultForm-email">Description</label>
                            <input type="text" [(ngModel)]="createdEventOrAnnouncement.newEvents.Description" class="form-control"
                                #Description="ngModel" mdbInput mdbValidate required><br>

                            <label for="defaultForm-email">Start Date</label>
                            <input type="date" [(ngModel)]="createdEventOrAnnouncement.newEvents.Start_date" class="form-control"
                                #StartDate="ngModel" mdbInput mdbValidate required><br>

                            <label for="defaultForm-email">Start Time</label>
                            <input type="time" [(ngModel)]="createdEventOrAnnouncement.newEvents.Start_time" class="form-control"
                                #StartDate="ngModel" mdbInput mdbValidate required><br>

                            <label for="defaultForm-email">End Date</label>
                            <input type="date" [(ngModel)]="createdEventOrAnnouncement.newEvents.End_date" class="form-control"
                                #EndDate="ngModel" mdbInput mdbValidate required><br>

                            <label for="defaultForm-email">End Time</label>
                            <input type="time" [(ngModel)]="createdEventOrAnnouncement.newEvents.End_time" class="form-control"
                                #EndDate="ngModel" mdbInput mdbValidate required><br>

                            <label for="defaultForm-email">Location</label>
                            <input type="text" [(ngModel)]="createdEventOrAnnouncement.newEvents.Location" class="form-control"
                                #EndDate="ngModel" mdbInput mdbValidate required><br>

                            <label>Select Author:</label>
                            <select name="users" id="users" [(ngModel)]="createdEventOrAnnouncement.currentUser.userID"
                                class="form-control">
                                <option *ngFor="let user of returnAllUsers" [value]="user.id">{{ user.firstname + ' ' +
                                    user.lastname}}</option>
                            </select>
                        </div>
                        <div class="update ml-auto mr-auto">
                            <button type="submit" (click)="addNewEventOrTraining()" class="btn btn-primary btn-round">Add</button>
                        </div><br>
                    </div>
                </div>
                <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>

<div class="w3-container">
    <div id="id02" class="w3-modal">
        <div style="border-radius: 10px;" class="w3-modal-content w3-animate-top w3-card-4">
            <!-- w3-teal -->
            <header class="w3-container" style="border-top-left-radius: 10px; border-top-right-radius: 10px; background-color:orange">
                <span style="border-top-right-radius: 10px;" onclick="document.getElementById('id02').style.display='none'"
                    class="w3-button w3-display-topright" (click)="clearLessonsArray()">&times;</span>
                <h2>Training Details</h2>
            </header>
            <!-- <div class="w3-container"> -->
            <!-- <div class="card" [hidden]="isShow"> -->
            <div role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h1>{{ selectedTraining }}</h1>
                        <div>
                            <img class="action" style="margin-right:0%;vertical-align: middle;
                            position: absolute;
                            right: 5%;"
                                src="https://img.icons8.com/metro/26/fa314a/trash.png" onclick="document.getElementById('id02').style.display='none'"
                                (click)="deleteConfirmation()" />
                        </div>
                        Delete Training
                    </div>
                    <div class="modal-header text-center">
                        <div>
                            <a href="/#/add-new-lesson/{{ selectedTrainingID }}">
                                <img src="https://img.icons8.com/android/24/26e07f/plus.png" style="color: white;" />
                                Add Lesson/s
                            </a>
                        </div>
                        <div>
                            <a href="/#/add-new-classes/{{ selectedTrainingID }}">
                                <img src="https://img.icons8.com/android/24/26e07f/plus.png" style="color: white;" />
                                Add Class
                            </a>
                        </div>
                        <!-- <div>
                            <div>
                                <img class="action" style="margin-right:0%;vertical-align: middle;
                                position: absolute;
                                right: 5%;" src="https://img.icons8.com/metro/26/fa314a/trash.png" />
                                Delete Training
                            </div>
                        </div> -->
                    </div>
                    <div class="trainingRow">
                        <div class="trainingColumn" *ngFor="let lesson of lessonsOfTraining">
                            <div class="w3-display-container trainingCard">
                                <h3>{{ lesson.title }}</h3>
                                <p>{{ lesson.name }}</p>
                                <p>{{ lesson.description }}</p>
                                <img class="action" style="margin-right:0%;vertical-align: middle;
                        position: absolute;
                        right: 5%;bottom: 100px;" (click)="deleteSelectedLesson(lesson)" src="https://img.icons8.com/metro/26/fa314a/trash.png">
                            </div>
                        </div>
                    </div>
                    <!-- <mat-card>
                        <tr>
                            <td>
                                <h2>Lesson 1</h2>
                            </td>
                            <td>
                                <img class="action" style="margin-right:0%;vertical-align: middle;
                                    position: absolute;
                                    right: 10%;"
                                    src="https://img.icons8.com/metro/26/26e07f/info.png" />
                                <img class="action" style="margin-right:0%;vertical-align: middle;
                                    position: absolute;
                                    right: 5%;"
                                    src="https://img.icons8.com/metro/26/fa314a/trash.png" />
                            </td>
                        </tr>
                    </mat-card>
                    <mat-card>
                        <tr>
                            <td>
                                <h2>Lesson 2</h2>
                            </td>
                            <td>
                                <img class="action" style="margin-right:0%;vertical-align: middle;
                                    position: absolute;
                                    right: 10%;"
                                    src="https://img.icons8.com/metro/26/26e07f/info.png" />
                                <img class="action" style="margin-right:0%;vertical-align: middle;
                                    position: absolute;
                                    right: 5%;"
                                    src="https://img.icons8.com/metro/26/fa314a/trash.png" />
                            </td>
                        </tr>
                    </mat-card> -->
                </div>
            </div>
            <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>
</div>

<!-- Second Table  -->
<!-- <div class="row">
    <div class="col-md-12">
        <div class="card demo-icons">
            <div class="card-header">
                <h5 class="card-title">Events, Annoucements and Trainings</h5>
            </div>
            <div class="card-body all-icons">
                <div id="icons-wrapper">
                    <section>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card ">
                                    <div class="card-header ">
                                        <h5 class="card-title">Events And Announcements</h5>
                                        <p class="card-category">Events for the whole organization</p>
                                    </div>
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                Events And Announcements
                                            </th>
                                            <th>
                                                Author
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let value of eventsAndAnnouncements" (click)="showStudent(value, 'Events')">
                                                <td>
                                                    {{ value.events.title }}
                                                </td>
                                                <td>
                                                    {{ value.user.lastname }}, {{ value.user.firstname }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card ">
                                    <div class="card-header ">
                                        <h5 class="card-title">Trainings And Classes</h5>
                                        <p class="card-category">Trainings for the members</p>
                                    </div>
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                Trainings And Classes
                                            </th>
                                            <th>
                                                Author
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let value of trainingsAndClasses" (click)="showStudent(value, 'Trainings')">
                                                <td>
                                                    {{ value.trainings.title }}
                                                </td>
                                                <td>
                                                    {{ value.user.lastname }}, {{ value.user.firstname }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</div> -->